// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

{{ if eq .machine "desktop" -}}
/- output "DP-1" {
    mode "2560x1440@359.979"
    scale 1
}
{{ else if eq .machine "laptop" -}}
// laptop output config — fill in after running `niri msg outputs`
/- output "eDP-1" {
    mode "1920x1080@60"
    scale 1
}
{{ end -}}
